# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

*.userprefs

mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.vs/

# Benchmark Results
BenchmarkDotNet.Artifacts/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ReSharper
_ReSharper*/
[Rr]e[Ss]harper
*.DotSettings.user

*.dotCover

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build
*.nuget.props
*.nuget.targets